[formatter_console_formatter]
format = %(levelname)s {%(message)s}

[formatter_file_formatter]
format = %(asctime)s - %(levelname)s {%(message)s}


[handler_console_handler]
class = StreamHandler
formatter = console_formatter
args = (sys.stdout,)

[handler_file_handler]
class = FileHandler
formatter = file_formatter
args = ("log.log",)


[logger_console_logger]
handlers = console_handler
qualname = console_logger

[logger_file_logger]
handlers = file_handler
qualname = file_logger

[logger_root]
level = CRITICAL
handlers = console_handler, file_handler


[formatters]
keys = console_formatter, file_formatter

[handlers]
keys = console_handler, file_handler

[loggers]
keys = root, console_logger, file_logger
